[2015-03-22 08:25] salzhrani opened #3 "Use a key name other than 'id'"
Is there a way to use a property name other than `id` as the identifier ?

[2015-03-22 16:59] toranb commented on #3
Today this isn't (yet) an option. Just looking over the store I see about 3 references to id as the identifier

https://github.com/toranb/ember-cli-simple-store/blob/master/addon/store.js#L10
https://github.com/toranb/ember-cli-simple-store/blob/master/addon/store.js#L43
https://github.com/toranb/ember-cli-simple-store/blob/master/addon/store.js#L54

The biggest issue w/ making this configurable i

[2015-03-24 02:43] toranb opened #4 "Why isn't this project 1.0 yet?"
Just a quick update to show what remains before we cut the 1.0 release

[code]

[2015-03-24 14:18] salzhrani commented on #3
It seems in ED this customization is done at the [serialzer](https://github.com/emberjs/data/blob/v1.0.0-beta.16/packages/ember-data/lib/serializers/json-serializer.js#L25). conceptually the user can set the `id` property before calling `push` or `remove`, or maybe we can add an optional `primaryKey` parameter to `push` and `remove` which if exists the store will set the proper `id`

[code]

[2015-03-25 16:53] toranb opened #5 "Breaking changes in the 0.8 series - upgrade to 0.9"
As of 0.8 the public api for findById and findOne are now computed (previously they wouldn't update when something new was pushed into the store)

This should be considered a breaking change but a necessary one - I'll be working through the upgrade of a few client apps tonight to see how this causes pain/ or not. The big reason for the change is that if you return from a route (not waiting for an

[2015-03-25 19:27] toranb opened #6 "Bug in parseInt for find (by id)"
if your model has a guid like id value (something like this)

55555555-ca0d-4126-8929-afdsaf789883

You will find the lookup fails - I'll write a test for this and push up a patch tonight for anyone following along

[2015-03-25 23:35] toranb commented on #6
Fixed in 0.8.2

https://github.com/toranb/ember-cli-simple-store/commit/caf9e27ad06d390641b060ab582f602e9e9f984d

[2015-03-25 23:35] #6 closed

[2015-03-25 23:37] toranb commented on #3
Not ignoring your request :) just had some BIG changes to the public api WIP and wanted to get those solid/proven before attempting to add support for this.

I do like your feedback btw - give me a week to test the new 0.8.2 series and verify the project is stable

[2015-03-25 23:38] toranb commented on #3
Also- would you mind sending my personal gmail a note quick? I'd like to chat offline about how you got here/why (assuming that's cool with you)

toranb at gmail

[2015-03-26 23:20] toranb commented on #4
About the second item listed above

After some research I found that in ember-data (pre 1.0 anyway) you could pass a simple hash to filter on so it might be worth keeping both apis (one is simpler to use/inline).

https://github.com/toranb/complex-ember-data-example/blob/master/codecamp/static/script/app/codecamp.js#L84

[2015-03-27 02:13] toranb commented on #5
Quick update / apology to everyone who pulled in the 0.8 series of this project. After much debate/discussion it's obvious the changes to findById and findOne are breaking (by returning ObjectProxy instead of null/the model directly). This should have been communicated / published in a beta like npm release instead. Before the 1.0 I didn't want to introduce any breaking api changes so I'll cut a r

[2015-03-27 02:40] toranb commented on #5
The 0.9.0 release is out on npm and solves the issues w/ computed findById/findOne that got released in the 0.8.x series of this project

[2015-03-29 19:31] toranb commented on #5
After talking with a few people in the community another valid reason for this change is consistency. Today the array based find methods return a computed value that will be updated when anything is pushed into the store. But if you findById you don't get this same experience leaving people confused about how it works/why it works/etc

The plan for 1.0 is to verify this assumption/ talk about the

[2015-04-01 02:42] toranb commented on #5
Update: I've pushed a beta release w/ findById computed again if you really want that :)

"ember-cli-simple-store": "1.0.0-beta.1"

This includes an update that 0.8.5 didn't have - your objects functions are first class so instead of

[code]

you can do this instead

[code]

[2015-04-06 00:13] toranb commented on #5
We did 2 other releases this week.

"ember-cli-simple-store": "1.0.0-beta.2"
"ember-cli-simple-store": "1.0.0-beta.3"

The latest release shown above includes findOne computed (along w/ the isDirty fix that went into 0.9.1)

[2015-04-06 00:39] toranb opened #8 "What should the default value be for attr?"
In the latest pull request @williamsbdev found that by default an attributes value is undefined. This in itself might not be totally incorrect but because of how we "protect against" the "" (empty string) when you set the value using attr it behaves strange / incorrectly (as shown below)

[code]

This isn't by accident so let me explain why this occurs today so we can find a way to move forward.

[2015-04-06 22:49] toranb commented on #8
After talking w/ @williamsbdev today it's clear that a default value of "undefined" is the best option today. The (small) change required to fix the "setter" of empty string will be available in both the 0.9 and 1.0 series as it's non breaking after all.

https://github.com/toranb/ember-cli-simple-store/blob/master/addon/model.js#L37

The line above will change to ...

[code]

The issue I'll need

[2015-04-18 20:58] toranb commented on #8
The more I think through this, the more I think it's actually fine the way it is with the caveat that it seems strange to see a unit test that fails to set a value of empty string on a new model.

example:

when you create a new model and you are ready to save it /fire off an xhr. You usually turn the objects properties into json first like so

[code]

If your model has a title of empty string it'

[2015-04-18 21:03] toranb commented on #3
Finally getting around to implementing this :) and I'm curious if you are actively using this / or plan to once this feature drops. I ask because I don't currently have non-id based pks and being someone who doesn't use this day-to-day makes me think we should get someone like yourself involved /on the core team to help prove the api is what you prefer / adds enough value to use it on your client

[2015-04-18 21:08] #5 closed

[2015-04-18 21:10] toranb commented on #4
For anyone following along - we do have beta releases rolling for 1.0 currently (pure async support now for both find (by id) and findOne)

"ember-cli-simple-store": "1.0.0-beta.4"

[2015-04-19 13:15] #8 closed

[2015-04-19 18:23] toranb commented on #3
I'm thinking of making this a 1.1 feature (not pushing it back to the 0.9 series). I'm making a big push tonight to complete the 1.0 and publish it (and I'd like to get some input from you before trying to crank this out myself -as I won't be using the feature myself any time soon).

Thanks for the input - hope 1.1 is acceptable :)

[2015-04-19 18:24] toranb commented on #4
Decided to go w/ 1.0 as is (using the current beta series that's been tested in real apps). I'll leave the find api discussion as "open" if and when someone decides it's a problem (maybe I just jumped the gun on this one myself).

On the alternate pk support - I'm pushing this feature to 1.1 for now as it's a nice to have for my client work at the moment and 1.0 is solid from what I can tell

[2015-04-19 18:24] #4 closed

[2015-04-21 00:38] williamsbdev commented on #8
When I originally found this, it was only in a unit test. At that point, we had been using this library in our production app for quite some time without issue. I do not feel this is worth addressing at this point as you said if it breaks some desired UX. I have not seen issues related to AJAX requests but will keep this mind in case I do run into trouble.

Thanks!

[2015-04-25 16:57] joe-l-bright opened #11 "Self Expiring Store Items"
I would like to add the below code to this project so store items can be managed internally.
This is like bread in a grocery store, the bread comes with an expiration date and the store will pull the bags off the shelf if they are expired.  I was hoping we could do the same concept in here. :)

[code]

[2015-04-25 16:57] joe-l-bright commented on #11
btw... this is not an issue.  I just wanted to get your thoughts :)

[2015-04-26 00:12] toranb commented on #11
I like the idea of unloading objects (as the apps memory usage will only grow over time as we never refresh the full page anymore). The challenge is how do you know it's "safe" or "a good time" to expire and unload those items? For example

1) the first item I pushed in will expire in 10 minutes
2) later I'm on a page (list of items) and that first item is on the page
3) I don't do anything on tha

[2015-04-26 00:37] williamsbdev commented on #11
@joe-l-bright I think this could be a nice feature for a host app to introduce. These are my thoughts on this:
- I don't think it should be the responsibility of the store.
  - I believe the store should have as few opinions as possible
  - It already has the opinion that every object should have an id
- Expecting an object to optionally have an expire key and that it always means that is the time

[2015-04-26 00:38] joe-l-bright commented on #11
keep in mind this expiration is not determined by the store.  Its determined up in stack.  Just like the bread example.  Only things that have intended expirations will expire.  The time is all determined by "users" of the store.  If a user wants to have a predetermined time allowed for an item, it sets an expire=5000 before adding to store.  The store then respects that time and removes it.  This

[2015-04-26 00:39] joe-l-bright commented on #11
thanks for thinking on this gentlemen :+1:    closing out and searching for alt route.

[2015-04-26 00:39] #11 closed

[2015-05-16 15:06] toranb opened #16 "Update attr to use get/set for ember 1.12"
If you upgrade your project today you will see a deprecation warning because attr isn't using the new get/set for ember computed.

When ember 1.13 ships (stable) I'll submit the PR that removes this deprecation. At it's simplest this is the change required in addon/model.js

[code]

[2015-06-16 03:05] toranb commented on #16
This was updated so if you pull in v2.2.0 you will be dep warning free. If you want to use the store but are not yet on ember 1.12+ you will need to stick with v2.1.0 for the moment

[2015-06-19 02:47] #16 closed

[2015-08-02 15:22] toranb opened #17 "Short description of the breaking change in v3.0.0 (Upgrade guide)"
In the past month I've been using nested components and ran into a problem adding to a bound array. To illustrate the problem in detail I wanted to show a quick example that I pulled from a real app.

1) The model

In this example my person model has a related model (phone_numbers).

[code]

2) The parent component hbs

I use this model to create a simple form. In that form I have a child (nested)

[2015-08-02 15:24] toranb commented on #3
Closing this out for now until someone decides to champion it :)

[2015-08-02 15:24] #3 closed

[2015-08-27 15:19] #17 closed

[2015-09-08 15:18] toranb opened #20 "Ember 2.1 initializers don't have 2 arguments"
As you move to ember 2.1 (beta 3 is out currently) you will find this fun dep warning

[code]

We should upgrade the initializer to be both ember 1.x and 2.x friendly

[2015-09-17 16:49] toranb commented on #20
Done and done - look for the v3.1.0 release

[2015-09-17 16:49] #20 closed

[2015-09-29 19:31] matthewnessworthy opened #22 "Is it possible to store an object in a model attribute?"
Currently, there is no dirty checking or triggers to the observer when changing simple object properties. Is there any plans to add support for this use-case?

[2015-09-29 19:52] toranb commented on #22
Maybe you could tell me a little more about your requirement :)

I'm actually curious to see how other people use this library and if you use case is simply

my model has property name and when name changes/or is dirty I'd like to know (or another CP might).

If this isn't your scenario ... would you mind going into a little more detail when you have time?

[2015-09-29 21:50] matthewnessworthy commented on #22
Sure, I'll give a slightly simplified version.
I'm currently working on a tree structure of nodes (files/folder), each node contains an object called nodeInfo, which contains a a list of properties and possibly other embedded objects depending on its type.
I don't need the whole polymorphic behaviour as in ember-data, simple objects are fine for me as I'm wrapping a lot of the functionality in com

[2015-09-30 00:54] toranb commented on #22
Huh this is similar to what I use the the addon for day-to-day but I usually create another object/model and link the two. Would this be an option for you?

In your example you'd create a new model/ember object called node (or whatever you feel is valid).

Next in the model you show at the top, inject the store and write up a computed property to return the related node (if you need /want detail o

[2015-09-30 06:33] matthewnessworthy commented on #22
That sounds like it would be a pretty good fit, it would be great if you could share some examples of this approach so I can see how well it would integrate with my use-case.

In this approach, how do you handle the serialisation of the linked models when preparing to send an update to the api, or, when the linked model has no primary/parent id due to it being something like a [model fragment](htt

[2015-10-01 01:11] toranb commented on #22
Here is the quick rundown of what this might look like

1) if you don't already have a simple inject helper in your app -add this little guy (requires ember-cli-injection addon)

https://github.com/toranb/ember-2-skeleton-app/blob/master/app/utilities/inject.js

2) in the top level model inject the store and create a computed that can "lookup" the related object

[code]

3) next in your "node" mod

[2015-10-02 06:35] matthewnessworthy commented on #22
Thanks for the code example and hints, I'll give it a shot shortly and let you know how it turns out.
Much appreciated.

[2015-10-12 21:09] matthewnessworthy commented on #22
@toranb This works perfectly, thanks.
I'm running into a separate unrelated issue at the moment relating to adding items to the store. When there are a few thousand records in the store the time to push a record increases significantly, from ±1ms with a few records up to 11sec (per push) when there are about 4000 records.
I've tried to mitigate this by wrapping bulk data pushes with `store.beginPr

[2015-10-13 14:13] toranb commented on #22
@matthewnessworthy wow the performance issue seems a little concerning. I'd need some time to learn enough about large data set perf in JS to diagnose this issue (not sure if it's purely that it "looks slow" -ie: we could make the push async instead of sync ... or if it's truly a limitation of my dual push (as I keep track of the object in 2 data structures and both get "pushed into" sync during t

[2015-10-13 14:57] matthewnessworthy commented on #22
Let me throw together a little something this evening and see under which min/max limits things start to slow down

[2015-10-13 16:34] matthewnessworthy commented on #22
@toranb take a peek at https://github.com/matthewnessworthy/ember-cli-simple-store-perf
Start the ember server and go to http://localhost:4200/store from there you can add 100 with or without property change grouping.
In console I'm simply outputting the total time per 100 records

[2015-10-13 22:07] matthewnessworthy commented on #22
You may wish to consider including a `pushMany` function in the store and wrap it with `beginPropertyChanges()` and `endPropertyChanges()` as I've found that it provides a considerable speed improvement.
As for the speed decrease when pushing records to the store, I believe it relates to the observers/computed properties firing on the source array when changes are propagated.

[2015-10-15 01:14] toranb commented on #22
@matthewnessworthy great work on this! I'll give this a look the next few days to see what I can learn/ if I can improve it (with or/ without the pushMany as you mention)

[2015-10-15 01:20] toranb commented on #22
Quick update -removing this second "push" (for the array side of the store) kept the pushes blazing fast

https://github.com/toranb/ember-cli-simple-store/blob/master/addon/store.js#L12

If we remove this the array find like funcs wouldn't be "as easy" to implement so I'll need to do some research.

[2015-10-16 08:01] robclancy opened #23 "Ability to rename the store"
I mean what you register it as in https://github.com/toranb/ember-cli-simple-store/blob/master/addon/initializers/ember-cli-simple-store.js#L5.

Basically we have moved from `ember-data` to `ember-model` and they both suffer from the same issues of stability, too much magic and not giving the developer the power to do things the way they want with their API. But moving from one to the other is a b

[2015-10-16 13:48] toranb commented on #23
I think the best case scenario for this would be to pull the initializer (that gives it the name "store") allowing others to create any name/inject it how they want. The downside is this would be a big breaking change and I'd need to wait for the v4.0 release.

https://github.com/toranb/ember-cli-simple-store/blob/master/addon/initializers/ember-cli-simple-store.js#L6-L7

If you see this as a shor

[2015-10-16 16:01] williamsbdev commented on #23
Since the initializer is included in the app:

https://github.com/toranb/ember-cli-simple-store/blob/master/app/initializers/ember-cli-simple-store.js

You will have the ability to override in the app where you include this addon. You can simple create a file named `ember-cli-simple-store.js` in your `initializers` directory. You can do something like this to get your app having the `store` named

[2015-10-17 01:00] robclancy commented on #23
@toranb yes JSON for this but no to relationships, I find them as overrated on the client side. We do have relationships but simply handle them manually with a manual call to the repository passing in the ID needed. Code can explain better than me...

[code]

Then in my `organization` model I have a `loadProjects` method I can call when needed. Works similar to a relationship but instead is explic

[2015-10-17 01:30] williamsbdev commented on #23
Thanks for the feedback. I will start a blog post about
extending/overriding addons and look into add documentation to
ember/ember-cli for the extensions I'm talking about. If you have any
issues, hit me up and I can help out or pair if needed.
On Fri, Oct 16, 2015 at 20:00 Robert Clancy (Robbo) <
notifications@github.com> wrote:

[2015-10-18 12:08] williamsbdev commented on #23
@robclancy, I just put together a [commit](https://github.com/williamsbdev/ember-cli-simple-store-as-storage/commit/282e58ba9a1668971836b8496cb35ed3451c4e7c) that shows `ember-data` and `ember-cli-simple-store` side by side. I renamed the `store` from `ember-cli-simple-store` -> `storage`.

Like I said, today I will read through the ember-cli documentation and see if I can make it more clear how t

[2015-10-18 12:47] bmac commented on #23
@williamsbdev. If you are thinking of changing the name used to register the store I'd recommend you take the time now to think about supporting registering it as a `service` to allow users to use the normal `Ember.inject.service` methods to access the store in their components (or anywhere).

If you decide down the road that you'd rather register it as a service, trying to get multiple registered

[2015-10-18 19:08] williamsbdev commented on #23
@bmac I was not planning or considering changing the name of the store. The commit I referenced above only those a way that this user would be able to slowly switch away from ember-data if they so choose. Since both ember-data and ember-cli-simple-store want to be referenced as store, store -> storage, is a temporary stop gap.

I am curious if ember-data is going to move towards the `service` mode

[2015-10-18 19:23] williamsbdev commented on #23
@bmac so after looking at ember-data, I noticed that the `store` is actually registered as a service and then injected into the appropriate objects, but also allows for injection.

Thanks for the suggestion. This is something that @toranb and I will have to discuss and explore.

[2015-10-18 20:22] williamsbdev commented on #23
@robclancy I could not find a good location for the this [post's material](http://williamsbdev.com/posts/overriding-ember-addons/) in the ember-cli documentation. I also referenced a [SO question/answer](http://stackoverflow.com/questions/29634920/how-to-override-default-functionality-in-ember-addons) in my post. I hope this is helpful.

[2015-10-19 04:48] toranb commented on #22
**Status update for the weekend**

I've found that only using a hash has a limitation when I create the CP that transforms the cached data into an ArrayProxy. If I "ask" for the findAll using a getter it will return the correct thing after a push, but today any array returned is simply up to date w/out asking.

The root of the problem is that I don't (yet) know how to break the CP's  cache to have

[2015-10-19 11:14] robclancy commented on #23
I have done what you suggested and it is all working fine. Things feel much better using these libraries compared to ember-data or ember-model.

[2015-10-19 11:14] #23 closed

[2015-10-20 00:42] toranb commented on #23
@bmac I'll work with @williamsbdev to provide a service/or configurable injection option this week. Thanks for dropping in to provide some info about Ember.inject.service

[2015-10-20 00:43] toranb commented on #23
@williamsbdev thanks for helping @robclancy with this -always looking for the best talent in the biz :)

[2015-10-23 15:03] toranb commented on #22
@matthewnessworthy I spent a few nights this week looking for a solution to my ArrayProxy from hash problem but so far I still can't get a computed to re-fire (for the underlying array I create on the fly using only a single hash). I learned a fair amount trying to make this hack work but with limited bandwidth I want to back up and look at the raw perf problem with doing a push into the array par

[2015-10-23 15:06] matthewnessworthy commented on #22
Thanks for spending your time on this, I hope you get an eureka moment.

[2015-10-23 15:19] toranb commented on #22
Lets close this out and open a new ticket about perf - specifically about the issues you are having :)

[2015-10-23 15:19] #22 closed

[2015-10-23 15:41] matthewnessworthy commented on #22
:+1: sounds like a plan

[2015-10-23 18:28] toranb opened #25 "Performance issues pushing with a large number of records in the store"
In issue #22 @matthewnessworthy mentioned

[code]

He then put together a sample project to show this off. I wanted to start a new conversation here so we can stay focused on the problem he found/ work through a solution with the appropriate history.

https://github.com/matthewnessworthy/ember-cli-simple-store-perf

[2015-10-23 18:32] toranb commented on #25
@matthewnessworthy could you clarify a few things for me when you get time? Is the core problem that doing a "bulk insert" is slow (as the size of the record set grows)? Or is the core issue that inserting a single record is slow (after the store has 4000+ records in it)?

I ask because in your example, if I push 3000 records in a "single push" is still speedy (just under 1 second). Originally whe

[2015-10-23 18:32] toranb commented on #22
I opened issue #25 to move the perf discussion along. @matthewnessworthy I asked for a clarification to get us off on the right foot this time :)

[2015-10-23 20:04] matthewnessworthy commented on #25
@toranb It's still single pushes that are affected. Perf varies depending on the number of computed properties depending on the store find results (like the `belongs_to` example you gave), where each record has a computed property referencing the same type of model (think recursive parent-child).

I'm getting responses of greater than 5 seconds when pushing blocks of 100 records on a store with 20

[2015-10-24 18:45] toranb commented on #25
I've reached out to a member of the core team on this for some paid perf consulting. I honestly don't know how to tune the ArrayProxy myself but understand the need. I'll let you know what I find out in the coming days/weeks (sorry for the lack of knowledge on this @matthewnessworthy )

[2015-11-14 19:50] matthewnessworthy opened #28 "[feature] Push model to store"
It would be nice to be able to push a model to a store, currently you can only push the underlaying data.

Primary usage would be when creating a new record while relying on model functionality (validation, relations, CPs, etc)

[2015-11-14 19:52] #28 closed

[2015-11-14 19:54] matthewnessworthy commented on #28
I realised after creating this ticket that I am prone to bouts of idiocy, also, I've already solved this by pushing the api response data to the store and transitioning to the new record.

[2015-11-15 20:51] toranb commented on #28
haha not to worry - the first iteration of this addon was much like that :)

[2015-12-03 06:07] toranb commented on #25
Sorry for the huge holiday sized delay on this one - I finally got some time w/ one of the ember core team and it was well worth the wait! In fact I threw together a quick spike just a few minutes ago to show what we discussed (and it does indeed speed things up -big time).

https://github.com/toranb/ember-cli-simple-store/commit/e475e4a3b82b9eb6498524e6dde95406cde635e5

The biggest challenge is t

[2015-12-03 10:19] matthewnessworthy commented on #25
No worries, end of the year always end up being more hectic than expected.

The main performance pain points are:
- adding a large number of records without wrapping them in a `beginPropertyChanges`/`endPropertyChanges`
- adding 1 or more records into a store that already contains a large number or records (compare perf adding a single record to an empty store compared to adding that same record w

[2015-12-03 15:57] toranb commented on #25
Great question - I have a few of my own that I'd like to drive out using a large code base. Below is a list of the requirements I have for the rewrite (this looks like the setup for v4.0.0)

0) improve performance for pushing models into the store
1) store.push for new records
2) store.push for existing records
3) related filters still recompute correctly*
4) keep all the functionality of the stor

[2015-12-03 16:12] toranb commented on #25
**Update**

The reason that relationship I showed above is _tricky_ is that we need to recompute when the array "users" on role is updated ... but we don't usually "push" to do that update. We normally just do a set (in the model like you see below). This would require some thought because the "quick fix" is to require a push for all setter changes like this (something I haven't even done myself)

[2015-12-04 11:10] bobbysciacchitano opened #29 "Make models optional"
Hi ... I'm trying out simple-store as a client store for a basic project and reading through the docs it took me a while to realise that you needed to create a model object for each resource you want to store.

Given there's some useful boilerplate functionality in the model object, I was wondering if it would be possible to create a default magic model without having to register models?

[2015-12-04 20:50] toranb commented on #29
Rather than a direct answer I decided to reply with an explanation of how those model files are used. In the store we "tag" or associate each model by type. That type is then used by the ember resolver to "build" or "construct" each instance (as you push). Without this I'm not sure it would be clear how each model is silo'd correctly. Most people using this need to silo by type first, then by prim

[2015-12-05 00:18] bobbysciacchitano commented on #29
Yep no worries! Thanks for the clarification. As an aside my application uses web sockets with a base data set loaded via Ajax at boot which means the store doesn't have any async relationships since the store is always up to date.

One of my biggest pain points is trying to map relationships when they come in via the socket. Would it be possible to extend the base model to get access to the store

[2015-12-05 15:49] toranb commented on #29
Injection is totally a requirement for bigger apps :)

Here is a short example to inject a status (a one-to-many relationship).

[code]

Here is what the simple inject helper looks like

https://github.com/toranb/ember-2-skeleton-app/blob/master/app/utilities/store.js

[2015-12-06 06:08] bobbysciacchitano commented on #29
I ended up achieving a similar result by overwriting the initialiser and making the store a service. This means I can access the store via `this.get('store')` or `this.store` in the case of routes and controllers. Probably worth mentioning that if you register `service:main` as a separate item, you end up with a new store instance. Took a while to work out what was going on!

[code]

Now more of m

[2015-12-06 06:08] #29 closed

[2015-12-22 04:47] antulik opened #30 "Check out of findOne"
I'm doing simple catching when I want to check store before doing ajax request.

How do I check if `findOne` returns something or nothing. Currently as I can see it always returns an `ObjectProxy` for empty object, but how do I check if it is valid?

I think i can do `store.findOne('user').get('source.length')` but that looks too complicated

[2015-12-22 07:03] matthewnessworthy commented on #30
you could do `store.findOne('user').get('firstObject')`

[2015-12-22 14:51] toranb commented on #30
@antulik great find - the issue w/ the ObjectProxy is that it's never falsy :(

I've done either what @matthewnessworthy mentioned or this in my repository like classes to check if the object is cached

[code]

[2015-12-28 15:48] #30 closed

[2015-12-28 15:52] toranb commented on #25
I'm working to complete the v4.0.0 release this week and it will include the much desired/needed perf update you uncovered here @matthewnessworthy

I'm using my largest installed app to upgrade this privately first (so I can feel the pain/ work through any issues). I plan to release a version for you to play with some time Wed or Thursday at the latest.

I'll be sure to include a note in the READM

[2015-12-28 23:15] antulik commented on #30
Thanks, that works for me.

[2015-12-28 23:31] toranb commented on #25
After a solid days work I've got the first iteration up in a commit worth looking at. I tested it heavily against your perf app and found I'm able to push 100 records at a time (w/ 4K in the store) and it takes between 126-148ms

https://github.com/toranb/ember-cli-simple-store/commit/69fe0ba936fa00859778d4c94572878c88a4f1ef

I'll take a run at upgrading a real application tomorrow and document th

[2015-12-30 00:31] antulik opened #31 "Nested model"
I have a nested model (it's not a relationship) for example

[code]

`extra` is a nested object without `id` field. What do I need to do so `extra` field would be converted to model as well? Right now it stays as plain Object.

[2015-12-30 01:53] toranb commented on #31
@antulik I'm not sure anything is built up to support that from the simple store perspective. Usually if I'm nesting I just wire up a simple FK of some kind and "point to" the nested object. If you truly want an ember object to return when you ask for extra you could wire up a simple computed to return another model object (something similar exists in this test route model).

https://github.com/to

[2015-12-30 02:09] williamsbdev commented on #31
@antulik Additionally, since you said that nested object does not have an `id`, you will need to supply one on the client side for storing the object in the simple store. Otherwise, the last object of that type pushed into the store will be the only one there (with an id defaulted to `undefined`).

[2015-12-30 02:30] antulik commented on #31
so far i've done a work around

[code]

this is not ideal as I still have to remember that parent and child models are not connected. Would be nice if `parent.extraIsDirty` would delegate to `parent.extra.isDirty`, so `parent.isDirty` would work correctly. Same for `save` and `reset`

[2015-12-30 02:39] toranb commented on #31
@antulik most of our models have a custom computed that is separate from isDirty so we can ask "is any related /or nested model dirty". I found having this live on a different computed was a good idea as most of the time I want to know if my local attrs are dirty, or if a related attr/model is dirty.

I believe ember-data made this change earlier this year also

[2015-12-30 02:41] toranb commented on #25
@matthewnessworthy day 2 and so far it's looking good. I did a patch (beta.2) release this morning when I found another bug. The biggest pain point is upgrading the app itself to avoid using "set" all over.

Depending on the size of your app (and the amount of filters you've created) it might be a costly update (level of effort). I spent all day and made it through the most complex model we have (

[2015-12-30 02:51] #31 closed

[2016-01-01 20:30] toranb commented on #25
@matthewnessworthy another quick update - I got our app completely up to date w/ no issues. The biggest lesson learned is that I should have created a base qunit test that just wrapped the inners w/ ember.run (would have saved me a ton of time). I plan to write up a short "guide" about what I learned but honestly the bulk was "update your unit tests as they don't wrap store.push w/ ember.run"

All

[2016-01-02 02:33] toranb commented on #25
Here is a quick hack for that qunit test I mentioned above (wraps the callback w/ ember.run for pure unit tests with a lot of store.push code)

[code]

[2016-01-05 22:38] toranb commented on #25
@matthewnessworthy another update - had a chat w/ another run-loop expert and it looks like the queue (afterRender) may be a problem as it won't update filters (ArrayProxy) as you might expect. I'm planning to run this in sync or actions instead. I'll report back when I know more :)

[2016-01-06 22:44] toranb commented on #25
@matthewnessworthy cut another release today for beta 3

Some discoveries from yesterday.

1) I thought moving from afterRender to actions or sync would solve my "explicit run" problem but no
2) I could improve the calls to scheduleOnce further using ember.run.once in push/remove/clear
3) without an explicit action (regardless of queue) you won't flush relationships (inconsistent computed properti

[2016-01-07 21:22] toranb commented on #25
@matthewnessworthy I landed the reuse feature today but sadly it won't work for the simple filter (object literal syntax for find). I'm toying with the idea of leaving it (vs deprecation for example). The only issue is that w/ the fork now it's not consistent. I assume the caching is valuable enough to remove the more simplified syntax but I'd like to put more time into it before changing the API

[2016-01-07 21:28] toranb commented on #25
@matthewnessworthy disregard -beta.4 is a bad build (just found this trying to run it against the app I'm working on). Avoid it if you can :)

[2016-01-09 01:25] toranb commented on #25
After some thought/discussion with someone on the ember-data core team it's clear what I attempted to do in beta.4 (that failed) was "reuse" any ArrayProxy that gets spun up. Instead the approach I'll recommend to people going forward is that you cache a reference to this in your service/or repository like classes and manage the "reuse" yourself.

The question about "memory usage over time" was le

[2016-01-09 11:58] matthewnessworthy commented on #25
Hey @toranb, I did a quick upgrade, and I was surprised at how straightforward it was. I haven't seen much in the way of breakage and things continue to work pretty much as expected.

I think part of the reason is because a lot of the stuff we are currently doing is, in one way or another, wrapped in run loops. Front your comments above I was expecting there to be quite a few broken sections, but

[2016-01-09 14:56] toranb commented on #25
@matthewnessworthy wow that's amazing! Was this w/ beta.5 or some other version from last week?

[2016-01-09 14:57] matthewnessworthy commented on #25
@toranb with the latest beta 5 from master

[2016-01-09 15:01] toranb commented on #25
@matthewnessworthy awesome news! that is the primary RC for the first v4.0.0 (stable) release so great news! I'll look more into the memory leak issue mentioned above before I release it but it's good to know what we have now is solid!

Thanks again for all the testing/feedback/work you put in to get us this far!

[2016-01-09 15:06] matthewnessworthy commented on #25
It was my pleasure! Thanks for doing all the work ;)

[2016-01-09 15:20] toranb commented on #25
@matthewnessworthy I learned a ton and wouldn't have been successful w/out help from 2 very performance minded folks in the ember community (Erik Bryn and Chris Thoburn).

Just glad to see that for the most part this library is still simple to use/ easy to build relationships with/etc

[2016-01-09 15:21] toranb commented on #25
@matthewnessworthy the docs need a massive upgrade before the v4.0.0 final release so I'll need to look that over next week. If you have any input on that or anything else let me know. One part I want to rework completely is the relationship comments made as I've learned a lot in the last year about how to do m2m/ one-to-many with this library and it's not reflected in the documentation now.

[2016-01-09 23:30] jasonmit commented on #25
This is exciting, we're about to start porting an ED implementation to simple-store and this is the only challenge when I started to scope it all out.

Thanks for this great addon :+1:

[2016-01-14 21:39] jasonmit opened #34 "Adopt Ember.Service for the store Object"
The discussion spawned from: https://github.com/toranb/ember-cli-simple-store/pull/32#issuecomment-171785799

Since we're dealing with a singleton Object and ember-data has moved in the `Ember.Service` direction, it would be great if we can adopt a similar API for help adopters transition more easily with a familiar API.  This also will allow consumers to have ember-cli-simple-store work with embe

[2016-01-16 20:44] toranb commented on #25
@jasonmit @matthewnessworthy I've added an unsubscribe api that allows you to remove filtered Arrays (that are returned when you use find w/ a filter of any kind). This removes the memory leak mentioned above but the downside is that it's manual (in the tests below you can see I added a willTransition hook to my route to remove the filters setup in my model hook)

https://github.com/toranb/ember-c

[2016-01-16 22:25] jasonmit commented on #25
Just some bike shedding, but what if instead of keeping these records around and sharing references to it, that query returns a new instance each time it's invoked.  If anyone wants to opt into being notified when a record matching the query is added or removed, they subscribe to an event on the store.  They just also need to be proactive in unsubscribing.

This I think would eliminate the issue (

[2016-01-16 23:42] toranb commented on #25
@jasonmit if this is something you have some time to spike out I'd love another set of eyes to prove this is possible w/out a huge departure from what the store looks like today. To this point I've spent time working with a performance benchmark to ensure filters run only once during a given run-loop.

I think the challenge with this approach (if I was to implement it myself) is that right now we

[2016-01-17 15:08] toranb commented on #25
@jasonmit after some additional thought I think it's worth sharing the real goal of the v4.0.0 release. But first a story :)

Back in the 3.x series I felt this library was "done" in the sense that every feature I needed day-to-day was present and bug free. The downside arrived when I learned of the harm something like a `@each` would do to a computed property in this library. The performance wasn

[2016-01-17 15:17] toranb commented on #25
@jasonmit one crazy thought off the top of my head

1) for filtered records we return a subclass of ArrayProxy we own*
2) in the scheduleOnce we ask this SimpleArrayProxy object to update itself
3) inside the new "updateYourself" method we ask if this type has been updated, if so set the content

*one entry point right now so this shouldn't be terribly painful to spike out

If we are able to get t

[2016-01-17 15:36] toranb commented on #25
@jasonmit looks like a quick run at this wasn't terrible until I hit the "hard part". I need a way to call the "refresh" on each instance (object) from the parent (factory/prototype definition). First up -this is crazy /not sure it can be done but it was a fun take on the memory leak issue we face today.

Any way you can think to make this work from reopenClass ?

[code]

[2016-01-17 21:33] jasonmit commented on #25
I'm lacking some context so I don't fully understand the problem being solved.

Whats the idea behind the method hanging off the constructor and what is the `z` argument?  Would it take an instance of `SimpleStoreArrayProxy` and return a new one?

How will the instances be notified that a change took place?  Is the idea that internally, we don't hold reference to the ArrayProxies within the store?

[2016-01-18 01:28] toranb commented on #25
You can ignore my crazy spike - I think your view of the ArrayProxy fix is the most important priority from my view. Would you have time to take a stab at the solution you proposed (or at the very least how that relationship would look in your view)?

[2016-01-18 01:47] jasonmit commented on #25
@toranb yeah I can take a shot at it once I fully grok everything

[2016-01-18 01:56] toranb commented on #25
@jasonmit awesome - really appreciate the second look. Sorry to dump 2 years of history on you :)

[2016-01-18 14:08] toranb opened #41 "v3.6.0 upgrade guide (breaking change)"
If you are upgrading from v3.5.0 or v4.0.0-beta.5 one thing to note is that we've renamed the initializer so people can use this along side ember-data. This didn't break any behavior directly but one change I've seen a few people are required to make is that if you had a custom initializer in your app and wanted it to run "after" the initializer that ships w/ this addon you would reference it by n

[2016-01-19 03:01] jasonmit commented on #34
@toranb do you want this in v4 or v5?

[2016-01-19 03:05] toranb commented on #34
We can shoot for v4.1

[2016-01-19 05:05] jasonmit commented on #34
@toranb okay I opened a PR.  Let me know if you want to make it in sooner, for now I'll be pointing the app I'm working on to that as my working branch.

[2016-01-19 05:43] jasonmit opened #45 "Consider better compatability with ember-data"
I would like to eliminate any pain of having consumers bringing in ember-cli-simple-store into their apps when they have ember-data as a dep.  This spawned from https://github.com/toranb/ember-cli-simple-store/pull/44#issuecomment-172743211

I propose two ideas, either will make this possible.

* [x] We remove the auto-inject initializer altogether and consumers can rely on `Ember.inject.service`

[2016-01-19 11:13] toranb commented on #45
@jasonmit I'm on board w/ this and think you've landed it in the above PR right?

[2016-01-19 11:14] toranb commented on #34
@jasonmit if you need this in your app lets just make it happen as v4 now - go ahead and merge to master if that's cool. If you can use it in your app /provide feedback to get this right before a stable v4.0.0 release is published all the better

[2016-01-19 19:55] jasonmit commented on #45
@toranb I haven't landed it since this would be a breaking change from 3.0->4.0 so help off to gather your feedback.  Which approach do you want me to go with?

[2016-01-19 20:02] #34 closed

[2016-01-19 20:05] toranb commented on #45
I think as of v4.0.0 we should make the "default" using Ember.inject.service (skip all the legacy injection tooling that @williamsbdev and I added before services became the way forward)

[2016-01-19 20:05] jasonmit commented on #45
Awesome, completely agree

[2016-01-19 20:57] #45 closed

[2016-01-20 00:56] toranb opened #47 "link the "3.6.0" readme in master for people viewing the repo today?"
@jasonmit you mentioned this and I didn't know if you had a fancy github way to achieve this :)

[2016-01-20 01:24] jasonmit commented on #47
I don't.  I just make it a nice bold header at the top of the README saying the master doesn't reflect the latest stable API.

[2016-01-22 10:43] toranb commented on #47
https://github.com/toranb/ember-cli-simple-store/commit/ee2a211fd2adfff35311af4895fb72b99fe902fb

done :)

[2016-01-22 10:43] #47 closed

[2016-01-22 20:12] jasonmit commented on #47
:+1:

[2016-01-29 15:16] toranb commented on #41
A quick note: although this was a breaking change it shouldn't be a terrible upgrade (commit below is an example from v3.4 => v3.6)

https://github.com/toranb/ember-2-skeleton-app/commit/35b8d04d05833874b931e4d49c39a43fcc9701b0

[2016-01-29 15:32] williamsbdev commented on #41
@toranb thank you for this upgrade guide. Unfortunately, we did not abide by semantic versioning here. When upgrading a minor version, only new opt-in features should be introduced. This was a breaking API change.

I've been looking through the source for master and noticed that this is completely removed in favor of injecting the store as a service. I hope and request that the next release goes t

[2016-01-29 15:41] toranb commented on #41
@williamsbdev  Just a quick note: what you see on master now is v4 only (the last release of the v3 series is v3.6.0)

Sorry for the breaking name change. As you mentioned, this should have waited until v4.0.0 stable was released.

[2016-01-29 19:26] toranb commented on #25
@jasonmit just a heads up - I removed unsubscribe in favor of destroy (about to publish a new beta and didn't want to increase the api surface unless absolutely necessary)

https://github.com/toranb/ember-cli-simple-store/commit/d1eeeb62f628b70d7a396178df6beb293809087c

[2016-01-29 20:04] toranb commented on #25
@jasonmit @matthewnessworthy I just released beta 7 (now the destroy method is available on any filtered ArrayProxy so you can remove it if you find the memory leak discovered above problematic at scale).

I just updated the perf app and it looks like the performance of what we have on master now is still rock solid in the example @matthewnessworthy threw together :)

If you guys could upgrade to

[2016-02-02 01:15] toranb commented on #25
@jasonmit any other ideas about how to avoid the memory leak we have today? I believe this is present in ember-data also but I'd love to hear some new ideas before we push the stable v4.0.0

[2016-02-02 06:00] jasonmit commented on #25
@toranb the issue I thought was solved, it just requires the user to be conscious of it and to unsubscribe/destroy the live record array.  Short of that, I don't have anything else in mind right now.  Are there any other leaks?

[2016-02-02 13:04] toranb commented on #25
@jasonmit the "destory" will help cut down on the leak but it's something developers will need to be aware of I'm sure. At this time I'm thinking of closing this issue (as the performance work was a success) and opening another w/ some targets for the v4.0.0 release

1) add deprecation for the 3rd param of the public find api (to make it clear this argument is not used)
2) upgrade each example pro

[2016-02-04 22:02] snewcomer opened #49 "Performance Improvements"
Hey Toran!  Looking at some perf issues related to `filtersMap`.  Could an API be exposed for us to clear `filtersMap`, but keep the `array` and `identityMap` around?  Basically, for every push of a location, it will look at source and call `updateFilters` and `updateContent` on each location.  So if in a grid view, the `location` array gets larger and larger, and there is a filterFunc that looks

[2016-02-04 22:04] snewcomer commented on #49
The above would allow manual management of a performance problem that we are seeing.  If we click on 15 pages of a grid view in a rolw, the response eventually turns from ~1s to about ~2 or 3s, and this is due to the filtersMap having to call updateContent for each location in the store when 1 location is pushed in.  I could spike out a function and related tests for you if you would like.

[2016-02-05 02:56] toranb commented on #49
Great question but honestly I'm not sure it's that simple. Imagine this scenario (assuming this is the setup you are about to implement to fix the perf issue)

1) visit a few pages in the grid, things slow down
2) you decide to wipe out the filtersMap for location
3) suddenly any other component or model that used the filterMap (above) to return locations is no longer observed (including any relat

[2016-02-07 17:37] #49 closed

[2016-02-08 00:05] jasonmit commented on #25
Have you explored implementing a weakmap?  I'm just unsure how references will be freed up within ember.  For example, the models usually stay referenced on inactive controllers/routes.

[2016-02-09 03:04] toranb commented on #25
@jasonmit what would a weakmap look like exactly?

With ember 2.0 (components) you often have the route fetching data for active routes but in a parent/child scenario any cleanup that you kick off in willTransition would occur when you "transition" from parent to child (even when that child route and parent are both in view). It becomes even more difficult if we want to maintain support for ember

[2016-02-09 06:37] jasonmit commented on #25
Unsure, when I went to implement it I realized we need to enumerate over the filterMaps which wouldn't work with the pattern I was trying for.  Another alternative would be a mixin factory, where we return an Ember.Mixin and hook into the destroy method of the object to release all of the associated record arrays.

The public API would look something like:

[code]

No manual releasing required by

[2016-02-11 00:41] toranb commented on #25
Thanks for the feedback / example. I think the part I'm not in love with...  now your component needs to `mixin` another object responsible for fetching the array data. In my daily work I never have components fetch data like this (it's almost always the route) so it feels strange to see that personally.

It's also possible that we could leave this implementation detail up to the consumer (as this

[2016-02-11 00:50] jasonmit commented on #25
Agreed, lets just stick with what we have and continue to think about the issue.  Maybe some collaboration with the ember-data guys since we all seem to be solving the same thing. :+1:

[2016-03-05 15:54] #25 closed

[2016-03-05 15:54] #41 closed

[2016-03-05 17:59] toranb opened #50 "v4.0.0 upgrade guide"
I'm releasing v4.0.0 today and wanted to document some issues I found earlier this year when I did the migration from 3.6.0 => 4.0.0 (beta 7) for a client.

## The store is now a service

Now if you want to use the store you just inject a service like you would traditionally with ember. Making this the default behavior was a big step forward and as you might imagine it introduced one breaking chan

[2016-03-05 18:26] toranb opened #51 "Example repo that works along side ember-data?"
@jasonmit I know you have had success using this along side ember-data but I realized 2 things today as I shipped v4.0.0 (stable) and wrote the upgrade guide.

1) the install instructions still show that you need to remove ember-data from package.json/bower.json

Assuming that's not true ... could we remove that to not scare people off?

2) the examples work and I have a 1.12 example (and a 2.3 [e

[2016-03-05 18:45] robclancy commented on #50
Most libraries we use to do with ember (including official) I have been frustrated with and eventually do our own code (or really want to). This however has always just worked and when running into issues was easy to solve. So thanks! :)

[2016-03-05 18:51] toranb commented on #50
@robclancy wow that is hands down the best compliment anyone doing OSS could receive! I'm truly humbled! Thank you for the kind words!!!

[2016-03-06 00:23] jasonmit commented on #51
Sounds good :+1:

[2016-03-06 00:35] jasonmit commented on #51
@toranb updated the documentation.  Nothing is required for consumers to use `ember-data` and `ember-cli-simple-store` in the same project.  They no longer conflict with each other.

[2016-03-06 02:06] toranb commented on #51
@jasonmit awesome! Agreed that it's nothing special - mostly I just wanted to see it in action (maybe a situation where they both make sense together if possible?)

[2016-03-06 02:16] jasonmit commented on #51
:+1:

[2016-03-06 03:01] toranb commented on #51
cool - I also updated the readme to show an ember 2.4 example w/ simple store (as most of the others are 1.12/1.13). I then did a publish to npm so the readme doesn't have all the `rm -rf ember-data` stuff :)

https://www.npmjs.com/package/ember-cli-simple-store

[2016-04-01 17:40] aronysidoro opened #52 "How to get all `attrs` on a model"
Toran,

Is there a simple way to get all `attrs` on a simple store model? Basically, I want to evaluate the model for `attrs` to see if they've been populated, so for the case that the model is clean and has data, vs. clean and has no data.

So being able to call: `model.attrsAll()` and get back a filtered Ember object for example. Then I plan to check if the value of each `attr` is truthy, so I c

[2016-04-01 17:59] snewcomer commented on #52
From model.js where `obj` is the model instance.

[code]

[2016-04-02 14:27] toranb commented on #52
@aronysidoro You could define a custom computed on your model that represents the aggregate of "all attrs" using the helper @snewcomer mentioned.

I use it in the model today so I can loop over and create a custom "isDirty" attr from it for each attr

[code]

[2016-04-02 14:27] #52 closed

[2016-04-06 23:21] aaronlelevier commented on #52
@snewcomer,

What is `factory` in this code?

[code]

[2016-04-07 02:56] snewcomer commented on #52
@aronysidoro:

https://github.com/toranb/ember-cli-simple-store/blob/master/addon/model.js#L13

from:

https://github.com/emberjs/ember.js/blob/ed298ced885b2f4b4435fbccb26b24b9a24bb68f/packages/ember-runtime/lib/system/core_object.js#L640

[2016-06-01 21:20] benkiefer opened #54 "Question: Destroy Objects on Clear"
Quick question. Is there any reason why removing an object from the store or clearing the store (by type or full-on nuclear clear) does not destroy the object(s) being removed?

For example, I have an object that periodically calls notifyPropertyChange to update a remaining time on itself; however, when that object is removed from the store (what I would consider a "delete"), it does not call the

[2016-06-02 01:24] toranb commented on #54
That's a great question ... looking at the api it's clear the "create" is adding objects to the store but also creating the ember object itself.

So in the destory/remove apis I assume we should invoke destroy on the given object/or objects

Anything else we should think through here before hacking into the code?

[2016-06-02 12:08] toranb commented on #54
One question I thought of this morning is related to versioning after this change. Is the feature you describe a "breaking api" in some way to someone using the project? If not, we could patch the 3/4 series of this addon. If it is decided to be a real break it's likely we would need to release something like this in a 5x

What alternative approach exists now without this change? You delete each o

[2016-06-02 13:30] benkiefer commented on #54
Completely agree that this is a breaking change. A 5.x seems like the right way to go.

[2016-06-15 14:47] benkiefer opened #55 "Question: Store pushes async"
We are in the process of upgrading to the latest version of simple store, and noticed that all of our tests started failing because of the introduction of a schedule to the push and clear methods of the store.

Any thoughts on making that synchronous in test mode?

[2016-06-15 15:45] toranb commented on #55
In the v4 upgrade guide I show a helper that made the upgrade less painful for a client I was working with last year. The push api is async because the v4 release was all about performance /better scheduling.

https://github.com/toranb/ember-cli-simple-store/issues/50

[2016-06-15 16:22] benkiefer opened #56 "Find with id filter returns type of object, rather than the type property of the object"
The following test fails due to the filter having a type property that is the type of the object.

    test("find with filter does not trump type property of object", function(assert) {
      store.push("person", {
        id: 9,
        firstName: "Jarrod",
        lastName: "Taylor",
        type: "developer"
       });
      assert.equal(store.find("person", 9).get("type"), "developer");
    })

[2016-06-15 16:23] benkiefer commented on #56
Potentially even _recordType and _recordSource or whatever other convention you think is appropriate.

[2016-06-15 16:42] toranb commented on #56
@benkiefer good catch - looks like a regression we didn't see previously. Mind writing up a PR for this using the underscore naming you suggest?

[2016-06-15 16:49] benkiefer commented on #56
No problem, working on it now

[2016-06-15 16:54] benkiefer commented on #56
I did the same thing on the source and store properties as well. Content felt like a breaking change since it's what you use to make sure the thing is actually loaded. Leaving it alone for now.

[2016-06-15 17:23] toranb commented on #56
@benkiefer right on - content is a ember proxy thing and would be very painful to switch out

[2016-06-15 17:23] #56 closed

[2016-06-15 17:23] toranb commented on #51
closing this as it's been literally months w/ no movement :)

[2016-06-15 17:23] #51 closed

[2016-06-15 17:23] #50 closed

[2016-06-16 14:26] toranb commented on #54
@snewcomer @jasonmit @aquamme @thoov you guys have any questions about the work @benkiefer is asking about here? On the surface it seems to be a fairly straight forward change and in my view it's about consistency because the `push` api will create an object _and_ add it to the store yet `clear` only drops the reference to each (not removing them/calling destroy).

This would be a 5x feature as it

[2016-06-16 16:42] snewcomer commented on #54
Wouldn't hurt us!

I'm sure you have everything you need to do this, and if you do, no worries and can probably ignore below....i'll just look at the commit when it is done.  But just from my stream of consciousness and NOT knowing how `notifyPropertyChange` works....

This line should remove any ref and clear out that type in the identityMap object but is up to the garbage collector to remove the

[2016-06-16 19:39] #55 closed

[2016-06-16 19:45] benkiefer opened #58 "Find with filter and computed keys is not deprecated, it's been removed"
As part of our upgrade, we noticed that:

    store.find("person", someFunction, ["name"]);

is generating a lot of deprecation warnings. Unfortunately, it's not really deprecated, support for that functionality is gone even though the deprecation warning says that it will be removed in 5.0.0. It looks like it was removed back in commit fe2ab0043eec9b7d58cc3f2ba3bce47abe35f249.

I'm fine with deal

[2016-06-16 20:09] toranb commented on #58
Truthfully I used the deprecation warning to call out a param that could be removed (so people wouldn't need to hunt for that dead argument by hand). The good news is that the store no longer needs this param to re-run the filter function as it did previously.

If you find a bug around this let me know but this change was at the center of the performance work done in v4

[2016-06-17 01:12] benkiefer commented on #58
Ok, we're seeing some strangeness in our upgrade process for the old privacy app where it looks like we did a lot of those filters. Will update or open a PR is something comes up.

Thanks again Toran!

[2016-06-18 02:07] toranb commented on #54
@snewcomer I haven't thought through all the implementation details yet but I assume we will need to remove each object in the array/identity map and then flush the filtersMap to free each object so the garbage collector can do its job.

When I dive into the work I can sync up with you to better understand your notifyPropertyChange question. Do you have a test case that better describes the setup/

[2016-06-18 02:10] toranb commented on #58
@benkiefer if you do find something not described in the [v4 upgrade guide](https://github.com/toranb/ember-cli-simple-store/issues/50) I'll gladly take a look

[2016-06-18 02:10] #58 closed

[2016-06-18 17:28] snewcomer commented on #54
@toranb I guess what I was wondering was how to do remove bindings/observers for an object to not only just drop its reference (i.e. manual garbage collection, right??)....But it seems as you mentioned, that calling `destroy` from the Ember API might be the simple sol'n.  Didn't know that existed!

https://ember-twiddle.com/eefa21f4f6b0a24cca6fd5b6eeaa5aa2?openFiles=components.destroy-method.js%2C

[2016-06-19 05:48] jasonmit commented on #54
It seems fine to me, but if you go in this direction then I suspect `remove` should also destroy the record.

[2016-06-21 07:04] thoov commented on #54
Agree with what everyone here is saying. Push / Remove should be inverses of each other and thus should destroy the object.

Seems like [WeakMaps](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WeakMap) might be worth looking into instead of having to manually care about the GC.

[2016-06-24 01:32] toranb commented on #54
@thoov @snewcomer @jasonmit thanks for the feedback guys - the weakmaps idea may not be required if we just teardown the record, unless I missed something - totally up to be wrong and corrected on this one :)

I'm wrapping up a week of teaching 5th grade kids python and I've got one prior open source commitment pending for early next week but I plan to give this a look late next week! Thanks for a

[2016-06-30 01:10] toranb commented on #54
Likely bumping this to early next week now :) had some higher priority issues on other OSS projects this week that are pushing me back a few days

[2016-07-07 22:54] snewcomer commented on #54
@toranb I think you are right.  Using WeakMaps, the gc will just remove the entry from the WeakMaps, but you still have to destroy the lower level objects anyways for this to happen and to call `notifyPropertyChange`.

[2016-07-09 20:10] jwright04 opened #60 "Error: You should not call `create` on a model"
Finally had an opportunity to try this out.  I'm trying to push a response object to simpleStore but I'm running into the following error:

This is my set up

[code]

Am i just not able to retrieve a single record without using the findById method?

[2016-07-09 20:13] jasonmit commented on #60
This is an ember-data assertion.

https://github.com/emberjs/data/blob/master/addon/-private/system/model/model.js#L975-L978

[2016-07-09 21:03] #54 closed

[2016-07-09 21:06] toranb commented on #60
@jasonmit is this an issue supporting both ember-data and simple-store together?

@jwright04 any chance you could provide a full stack trace to help us better identify when the error occurs?

[2016-07-09 21:19] jasonmit commented on #60
@toranb hard to tell with the information given.  But simpleStore in the above snippet may be the ember data store.

[2016-07-09 22:40] jwright04 commented on #60
Thanks for the response guys.  Here is the full error:

[code]

Just to give you a little background, i'm using ember simple auth.  Once I successfully receive an authentication token (within my `authenticateSuccess` function), i then attempt to make this call within that callback:

[code]

That's when I get the error.

[2016-07-09 22:59] jasonmit commented on #60
Can you post the entire class that function is within.  I am fairly certain that simpleStore is actually the ember data store service that is injected instead of simple store.  Also, which version of ember simple store are you using?

[2016-07-09 23:28] jwright04 commented on #60
Here it is:

[code]

[2016-07-10 08:07] jasonmit commented on #60
The stack trace indicates it's happening within the ember-data store and not the ember-cli-simple-store.  I would pause on `buildRecord (http://localhost:4200/assets/vendor.js:91537:30)` to see how that is being invoked after you push records into the simple store.  Perhaps you have a computed property, observer, or the caller of `authenticateSuccess` which is touching ember-data.

[2016-07-10 21:28] toranb commented on #60
@jwright04 if you need help debugging this just reach out - I'd be glad to pair up over screen hero or something this week if you need a hand :)

if you got this, a full screenshot of the pause'd buildRecord would be great as @jasonmit suggested

[2016-07-31 00:54] toranb commented on #60
Closing for inactivity - if you get back into this and need help just let me know

[2016-07-31 00:54] #60 closed

[2016-12-02 03:14] pixelhandler opened #66 "Proposal: new method to update"
During re-render components already have references to models in the store. `push` may update (set) props on those objects which then redraw.

Proposal: `push` can replace the reference instead of update (set props) on existing (referenced in DOM) models. And `update` can set props, e.g. perhaps after a form change and persisting that data.

Impact: since `push` would replace a model reference in

[2016-12-02 03:14] pixelhandler commented on #66
@snewcomer Let's try out this tomorrow.

[2016-12-02 07:13] jasonmit commented on #66
Can you go more into the reasons driving this proposal?  For my own curiosity mainly, but might help @toranb and others as well.

[2016-12-02 23:39] snewcomer commented on #66
@jasonmit so what we are seeing in 2.10 is that an already rendered child component of a route will update itself before finishing the route model hook.  So our case is:

1.  Render index route then after render click sort (which changes a query params w/ refreshModel: true)
2. Model hook is executed, sends off xhr, xhr comes back and we deserialize the data (store.push).  Let's say a people grid

[2016-12-03 00:19] pixelhandler commented on #66
@jasonmit The current behavior of the store's find methods return an array that is constant (once created always present). So, an index route's template has a model (the array for type) that is a collection of models. On query param changes that refreshModel on the same route, the model is the same array returned earlier (but may containing different models) Hence a re-render happens after model h

[2016-12-05 00:38] toranb commented on #66
@pixelhandler @snewcomer

In reply to your first comment I want to say that I'm not interested in altering the behavior of push for a few reasons

1. The original use case was designed to return a single reference that would act like a constant. This allowed me to unlock optimistic rendering before it was talked about much in the ember community.

2. Because this would break existing apps we would

[2016-12-13 01:34] snewcomer commented on #66
Still not sure there is an approach to solve every case.  We had a specific case that was easily solved with less relationships in the grid, i.e. straight json.  If somebody has heavy relationships in a grid view and runs into this same problem, then that is one consideration.  Another is optimistic rendering.  The biggest issue being that even if we call `replace`, `find` will still return a refe

[2016-12-13 20:54] pixelhandler commented on #66
@toranb closing this one. We found a scenario using lists where optimistic rendering isn't ideal for records that have various relationships. In that case simply providing a new array of items or plain JS objects can be used. It seems that Simple Store is designed primarily for optimistic rendering in that the array for the resource type is constant.

For this use case we needed to use a new array

[2016-12-13 20:54] #66 closed

[2017-03-16 20:46] snewcomer opened #72 "Support for 1.13 && upgrade to remove deprecation _lookupFactory"
@toranb still looking to support 1.13?  Looking to resolve this as well:

http://emberjs.com/deprecations/v2.x/#toc_migrating-from-_lookupfactory-to-factoryfor

Commit to fix it:

https://github.com/snewcomer/ember-cli-simple-store/commit/b07e2d6e018f44d21f25db1313ac01dc2eae4d69

[2017-03-17 00:03] toranb commented on #72
@snewcomer hmm great question about support. Is it possible to "support" 1.13.13 while not having dep warnings for 2.12 users? If not ... it may be time to drop 1.13.13 support

cc @jasonmit

[2017-03-17 00:57] snewcomer commented on #72
yep possible to support w/ the get owner polyfill.  Was just curious.

[2017-03-18 16:18] toranb commented on #72
@snewcomer I think if we can support 1.13 just by using this updated polyfill it would go a long way. I know my current employer is still using 1.13.13 and others are likely in the same boat.

Could we close out this issue/look into 2.12/2.13 support at some point in the next few weeks?

[2017-03-18 17:03] #72 closed

[2017-06-16 23:35] snewcomer opened #79 "factoryFor and injections"
https://github.com/emberjs/rfcs/blob/master/text/0150-factory-for.md
http://emberjs.com/deprecations/v2.x/#toc_migrating-from-_lookupfactory-to-factoryfor

I'm looking at something like below.  After upgrading our app to ember-source: 2.12, it seems based on the above RFC and the migration from _lookupFactory to a new API for factoryFor, the only way to get injected properties is through `factory.

[2017-06-16 23:36] snewcomer commented on #79
Curiously, if I set `set(model, 'simpleStore', store)` and pass it through `store.push`, then all is good because when it is passed through `factory.create`, it has the `simpleStore` injected.

[2017-06-17 00:38] toranb commented on #79
@snewcomer ah this is an interesting find. Let me carve out some time this weekend to take a serious look -thanks for point it out!

[2017-06-17 01:22] snewcomer commented on #79
Thanks Toran.  I think I may have figured something out - my original issue was mis directed and not related to simple store.  This object I referenced above is invoked via `factory.create` on my side, and by setting `simpleStore` on that object before being passed to my `factory.create` function, the object has has its dependencies (mainly simpleStore).  Simple store [here](https://github.com/tor

[2017-06-17 01:22] #79 closed

[2019-01-14 15:33] lele-melis opened #90 "Issues with Ember >= 3.4.0"
I am getting an error of:

[code]
after upgrading my apps which use **ember-cli-simple-store** to ember 3.4.0 and any subsequent version. This seems to be related to changes to `ClassMixin`, but I am not that knowlegeable of Ember internals to know more.

[2019-01-15 14:31] toranb commented on #90
@lele-melis great find! I'll see if I can find a work around for apps running >= ember 3.4 this week!

[2019-01-17 00:44] toranb commented on #90
@lele-melis  this is now fixed and live on npm as v5.9.4

Any questions or issues let me know! Thanks again for opening this issue!

[2019-01-17 00:44] #90 closed

[2019-02-27 23:45] walter commented on #90
#91 may not be a complete fix. I may have tripped over a related problem. Recently upgraded to `3.4.7`.

I find an exception in the `content` property when I inspect an object loaded from the store after a particular transition:

[code]

I call it with `this.get('client.hasAccommodationSupplement')` and the `get` call returns falsey (even though it should return `true` in this context). If I trans

[2019-02-27 23:47] walter commented on #90
To be more specific, it returns `undefined`.

[2019-02-28 00:15] walter commented on #90
Whereas `this.get('client').get('hasAccommodationSupplement')` returns `true`. 🤔

[2019-03-01 21:32] toranb commented on #90
@walter  could you reproduce this with an example so I can dive in and see what's up? thanks much!

[2019-03-06 21:21] walter commented on #90
Welp, tried to reproduce with a stripped down example app and couldn't.

The `client` object in our codebase is a "god" object and is more convoluted than the New York Subway. Pretty hard to extract and have reflect all of its peculiarities. So it could very well be a bug in our code.

I would appreciate a ping if anything does come up in `simple-store` or even `ember` that you think I should know